:root{
  --main-txt-color: darkblue;
  --main-bg-color: #6e07c3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  /* do something with a:active, a:visited or preset the color or the links */
  text-decoration: none;
  /* color: initial; */
  color: inherit;
}

ul {
  list-style: none;
}

/* Header */

.all-header{
  position: relative;
}

#header {
  display: flex;
  padding: 0 2rem;
  justify-content: space-around;
  align-items: center;
  background-color: #fdfcfc;
  height: 13vh;
  box-shadow: 0px 7px 18px 0px rgba(0,0,0,0.75);
}

.logo{
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: .3rem;
  color: var(--main-txt-color);
}

.species-menu-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.species-menu-btn div:nth-child(1){
  margin-right: 0.5rem;
}

.species-menu {
  display: none;
}

.species-menu-expanded {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  list-style: none;
  background-color: var(--main-bg-color);
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  z-index: 2;
}

.sign-in-buttons {
  list-style: none;
  display: flex;
}

.sign-in-buttons li:nth-child(1) {
  margin-right: 2rem;
}

/* Splash page */

#splash-container {
  position: relative;
}

.splash-front {
  background-image: url("https://images.unsplash.com/photo-1553322396-0c9cd410975e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 1px 10px #4d4751, 0 0 4px #4d4751;
}

.splash-front h1 {
  font-size: 3.2rem;
}

.splash-front h2 {
  margin: 1.5rem 0;
}

.search-btn {
  padding: 0.8rem 1.4rem;
  border: 0.15rem solid white;
  border-radius: 1rem;
  color: white;
  text-transform: uppercase;
  background: transparent;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
}

.search-btn:hover {
  background-color: white;
  color: var(--main-txt-color);
  font-weight: bold;
}

.quick-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  /* can I make the height responsive? */
  height: 100px;
  border: 0.1rem black solid;
  border-radius: 1rem;
  background-color: aliceblue;
  width: 70%;
  color: white;

  position: absolute;
  left: 50%;
  margin-left: -35%;
  top: 90%;
  z-index: 2;

}

.quick-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  /* why is this not contained within .quick-search-container */
  border-radius: 1rem 0 0 1rem;
}

.quick-search::after{
  position: absolute;
  left: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  /* can I change this to make it repsonsive? */
  border-width: 50px 0 50px 10px;
  border-color: transparent transparent transparent var(--main-bg-color);
  z-index: 2;
}

.quick-search-container div:nth-child(2),
.quick-search-container div:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #a14fe4;
}

.quick-search-container div:nth-child(3){
  border-radius: 0 1rem 1rem 0;
}




/* All Pet Page */

/* Info Bar */
.info-bar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: lightblue;
}

.info-bar div:first-child {
  margin-right: 1rem;
}

/* Main Page */

.animal-results-page {
  display: flex;
  background-color: aliceblue;
}

/* Filter Bar */

.filters-container {
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container > * {
  margin: 0.3rem 0;
}

.filter-container button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

.filter-options-container {
  width: 100%;
  position: relative;
}

.filter-options {
  display: none;
}

.filter-options-expanded li {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}

.filter-options-expanded {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 2;
}



.animal-results-right {
  padding: 1rem;
  width: 75%;
}

/* Applied Filters */

.filter-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-bar p:first-child {
  margin-right: 0.4rem;
}

.filter-bar p:last-child {
  margin-left: 0.4rem;
}

.filter-bar ul {
  display: flex;
  margin: 0 0.3rem;
}

/* Pet Search Results */

.pet-search-results {
  display: flex;
  flex-wrap: wrap;
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  width: 250px;
  height: 300px;
}

.pet-card img {
  border-radius: 1rem 1rem 0 0;
}



